### 1. zip

- 반복가능한 `iterable` 자료형을 여러 개 받아서 묶어주는 함수
- 대표적 `iterable` 자료형 : list, dict, set, str, bytes, tuple, range

In [1]:
a = [ 1,2, 3, 4, 5]
b = ["a", "b", "c", "d", "e"]

In [2]:
for i in zip(a,b):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

- 두개의 list a와 b 에서 각각 하나씩 순서대로 받아와서, 튜플 형태로 넣는다.
- 이 때, for 문 안에 `i` 한 개만 넣었기 때문에, 두 개가 `한 쌍`으로 묶여서 나온다.

<br>

#### 1.1 각각 하나씩 return 하고 싶을 경우

In [3]:
for x,y in zip(a,b):
    print(x,y)

1 a
2 b
3 c
4 d
5 e

#### 예시 01

In [4]:
new_one = list(zip(a,b))
new_one

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [6]:
t_a, t_b = zip(*new_one)
print(t_a)

(1, 2, 3, 4, 5)

In [7]:
t_b

('a', 'b', 'c', 'd', 'e')

#### 예시 02

In [8]:
a = ['포유류', '조류', '어류']
b = ['돼지', "독수리", "광어", '호모 사피엔스']
c = [10, 20, 30, 40, 50]

In [10]:
hap = list(zip(a,b,c))
hap

[('포유류', '돼지', 10), ('조류', '독수리', 20), ('어류', '광어', 30)]

- 입력된 자료형의 value 개수가 동일한 개수가 아니더라도, 반환이 된다.
- 하지만 최소개수를 가진 자료형의 개수로 반환한다.

<br>

#### 예시 03 : tuple 활용

In [11]:
a = (1, 2, 3)
b = (2,3,4)

for i in zip(a,b):
    print(i)

(1, 2)
(2, 3)
(3, 4)

<br>
<br>

### 2. map `map(f, iterable)`

- 함수와 반복 가능한 자료형을 입력으로 받아, 함수를 적용할 결과를 반환해준다.

<br>

#### for 문을 사용하여 int 형으로 전환

In [14]:
a = [1.2, 2.5, 3.7, 4.6]

for i in range(len(a)):
    a[i] = int(a[i])

In [15]:
a

[1, 2, 3, 4]

<br>

#### 2.1 map 을 사용해 int 형으로 전환

In [16]:
a = [1.2, 2.5, 3.7, 4.6]

a = list(map(int, a))
a

[1, 2, 3, 4]

<br>

#### 2.2 map - range

In [17]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

<br>

#### 2.3 map - 사용자 함수

In [18]:
def mul(x):
    return(x*2)

In [19]:
mul(1)

2

- `next()` : 순서대로 return 값을 확인 할 수 있다.

In [34]:
next(map(mul, range(5)))

0

In [33]:
a = map(mul, range(5))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

0
2
4
6
8

In [28]:
a = list(map(mul, range(5)))
a

[0, 2, 4, 6, 8]

### 3. filter

In [37]:
def positive(x):
    return x >0

In [38]:
print(list(filter(positive, [1, -3, 0, 2, -5, 6])))

[1, 2, 6]

<br>

### 4. enumerate
- `순서가 있는 자료형`(리스트, 튜플, 문자열)을 입력받아 `인덱스 값`을 포함하는 `enumerate 객체`를 반환한다.

In [39]:
a = [11, 30, 29, 56, 25] 
for i in a: # 비교 위한 for 문
    print(i)

11
30
29
56
25

<br>

#### enumerate 예시 01

In [40]:
for index, value in enumerate(a):
    print(index, value)

0 11
1 30
2 29
3 56
4 25

<br>

#### enumerate 예시 02

In [42]:
for index, value in enumerate(a):
    print(index+1, value)

1 11
2 30
3 29
4 56
5 25

<br>

#### 문제 1. enumearte()에서 index 값을 생략한다면? (return 값을 하나만 지정할 경우)

In [43]:
for v in enumerate(a):
    print(v)

(0, 11)
(1, 30)
(2, 29)
(3, 56)
(4, 25)

<br>

#### enumerate 예시 03 - format 함수 활용

In [44]:
for index, value in enumerate(a):
    print('%d: %d' % (index, value))

0: 11
1: 30
2: 29
3: 56
4: 25

In [49]:
for index, value in enumerate(a):
    print('index는 {}, 값은 {}'.format(index, value))

index는 0, 값은 11
index는 1, 값은 30
index는 2, 값은 29
index는 3, 값은 56
index는 4, 값은 25

In [48]:
for index, value in enumerate(a):
    print('index는 {0}, 값은 {1}'.format(index, value))

index는 0, 값은 11
index는 1, 값은 30
index는 2, 값은 29
index는 3, 값은 56
index는 4, 값은 25