### pd.cut
- 동일 범위의 범주를 갖는다
- equal-length buckets categorization

### pd.qcut
- 각 범주 마다 동일한 개수를 갖는다

In [15]:

import numpy as np

import pandas as pd



np.random.seed(123)

df = pd.DataFrame({'1': np.random.randint(20, size=20)})

In [12]:
df

     1
0   13
1    2
2    2
3    6
4   17
5   19
6   10
7    1
8    0
9   17
10  15
11   9
12   0
13  14
14   0
15  15
16  19
17  14
18   4
19   0

In [13]:
factor_col_1 = pd.cut(df['1'], 5)
factor_col_1.value_counts()

(-0.019, 3.8]    7
(11.4, 15.2]     5
(15.2, 19.0]     4
(7.6, 11.4]      2
(3.8, 7.6]       2
Name: 1, dtype: int64

In [14]:
# 5개의 범주를 갖는데, 각 집단의 value 수는 동일해야 함
qcut_col = pd.qcut(df['1'], 5)
qcut_col.value_counts()

(15.4, 19.0]     4
(13.4, 15.4]     4
(5.2, 13.4]      4
(0.8, 5.2]       4
(-0.001, 0.8]    4
Name: 1, dtype: int64